body 
{
	color: black;
	margin-top: 60px; 
}

img 
{
	max-width: 100%;
	height: auto; 
}

/*ШАПКА*/
nav.navbar
{
	background-color: #2B2D3D !important;
	color: #fff;
}


.menu li
{
	display: inline-block;
	padding: 0 20px;
	box-sizing: border-box;
	vertical-align: middle;
}


.menu li:last-child
{
	padding-right: 0;
}


a.logo
{
	font-size: 30px;
	padding-right: 150px;
	padding-left: 240px;
	font-style: italic;
}


.images
{
	position: relative;
	display: flex;
	height: 750px;
	background-size: 100% 100%;
	background-image: url(../img/background1.jpg);
	background-size: cover;
	background-position: center center;
}


.flower
{
	position: absolute;
	top: 40%;
	left: 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}


.flower p
{
	font-style: italic;
	line-height: 1.5;
	font-size: 40px;
}


.button
{
	border-color: #2B2D3D;
	background-color: #2B2D3D !important;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	border-radius: 20px;
	margin-top: 20px;
}


.button:hover
{
	border: 2px solid #2B2D3D;
	background-color: #2B2D3D !important;
	color: #fff;
}


/*КОНТЕНТ*/

.content
{
	font-size: 16px;
	text-align: center;
}

h3
{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #24252E;
}


.about_s
{
	margin: 0 0 40px;
}


.about p 
{
	font-size: 20px;
	text-align: left;

}


.about ul
{
	text-align: left;
}


hr
{
	border: none;
	background-color: #2B2D3D;
	margin: 20px 0;
	height: 2px;
}


/*КУРСЫ*/
.back
{
	color: #FFF;
	background-color: #32344A !important;
	background-size: 100%;
	padding-top: 1px;
}

.back h3
{
	color: #fff;
}


.back hr
{

	border: none;
	background-color: #fff;
	margin: 20px 0;
	height: 2px;
}

.kours img 
{
	margin: 10px 0;
	overflow:hidden;
	
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
}

.kours img:hover
{
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-o-transform: scale(1.05);

}


/*ПРАВИЛА ОБУЧЕНИЯ*/
.terms 
{
	text-align: left;
	font-size: 18px;
	background-image: url(../img/background.jpg);
}


.terms p
{
		text-transform: uppercase;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
}



/*ФУТЕР*/
.footer 
{
	background: #2B2D3D;
	height: 200px;
	background-size: 100% 100%;
	margin-top: 50px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

.footer pre
{
	color: #fff;
	margin-top: 15px;
}


/*АДАПТАЦИЯ ПОД РАЗНЫЕ ЭКРАНЫ*/

@media only screen and (max-width: 960px)
{
.images 
{
	height: 500px;
}

h3
{
	font-size: 20px; 
}

.flower
{
	top: 40%;
}

.flower p
{
	font-size: 20px;
}

.button
{
	font-size: 20px;
	margin-top: 5px;
}

.content 
{
	font-size: 14px;
}

.about p
{
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}

}


/*КАЛЬКУЛЯТОР*/
*{
			margin-left:0;
			padding:0;
			box-sizing: border-box;
		}
		button{
			outline:0;
			cursor: pointer;
		}
		.popup{
			display: none;
			position: fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index: 100;
			background-color: rgba(0,0,0,0.3);
			overflow:auto;
		}
		.popup-inner{
			width: 100%;
			max-width: 400px;
			margin:100px auto;
			background-color: #fff;
			border-radius: 8px;
			box-shadow:0 0 10px rgba(0,0,0,0.1);
			padding:20px;
		}
		.popup--open{
			display: block;
		}
		.close-popup{
		    display: block;
		    margin: -38px auto 0 auto;
		    border: 0;
		    background-color: #000;
		    line-height: 30px;
		    width: 30px;
		    color: #fff;
		    border-radius: 50%;
		}
		.check-discount{
			width: 100%;
			border-radius: 4px;
			background-color: blue;
			color:#fff;;
			text-align: center;
			border:0;
			line-height: 30px;
		}
		.form-group{
			display: block;
			margin-bottom: 15px;
		}
		.label{
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 5px;
			display: block;
		}
		.form-group input[type="number"]{
			border-radius: 4px;
			line-height: 30px;
			width: 100%;
			text-indent: 15px;
			border:1px solid #363636;
		}
		.form-group select{
			display: inline-block;
			background-color:#fff;
			height:30px;
		}
		.show-popup{
			color:blue;
			display: inline-block;
			padding: 5px 10px;
			border:1px solid blue;
			cursor: pointer;
		}
		.total{
			display: block;
		}
		.warning, .discount-show{
			color:red;
		}


@media only screen and (max-width: 720px)
{
	.flower p
	{
		font-size: 18px;
	}

	.button
	{
		font-size: 14px;
	}
}



@media only screen and (max-width: 480px)
{
.flower p 
{
	font-size: 18px;
}

.button
{
	font-size: 14px;
}
}
